.hehe {
  color: #000000;
  font-size: 15px;
  font-family: "Righteous", cursive;
  letter-spacing: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

#DIV2 {
  width: 250px;
  height: 250px;
  border: 1px solid black;
  -ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(-30deg);
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform-origin: 0 0 0;
  }
}
